body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: absolute;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 300px;
    
    left: 50%;
    transform: translate(-50%, -50%);
    top: 580px;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 10px;
    width: 0;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}
